
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');


html, body {
  margin:0;
  padding:0;
  color: #000;
  background-color: #fff;
}

a, a:link, a:visited{
        text-decoration: none;
        color: black;
}
a:hover {
    color: #b5191d;
    text-decoration: underline wavy #b5191d;
    text-underline-offset: 0.3em;
}
.title {
  background-image: url("./images/title2.png");
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  color: #000;
  height:200px;
  margin:1vmin;
}

.tray {
    display:flex;
    flex-wrap: wrap;
    background-image: url("./images/tray.png");
    background-position: center;
    background-size: contain;
    background-repeat:no-repeat;
    justify-content: center;
    position: relative;
}

.comic {
  display:flex;
  flex-wrap:wrap;
  font-family: 'Shadows Into Light', sans-serif;
  padding:1vmin;
  
}

.menu_box {
  border: 3rem ridge seagreen;
  display:block;
  flex:1 1;
  margin-top:5vmin;
  margin-left:15vmin;
  margin-right:15vmin;
  margin-bottom:5vmin;
  overflow:hidden;
  position:relative;
  text-align: center;
  font-family: 'Shadows Into Light', sans-serif;
  color: #000;
  background-color: #FFDB58;
  font-size: 3vh;
}



/*
.m_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
*/
.panel {
  border:solid 0px #000;
  /*box-shadow:0 6px 6px -6px #000;*/
  display:inline-block;
  flex:1 1;
  height:600px;
  margin:1vmin;
  overflow:hidden;
  position:relative;

}

.top-left {
  color: #000;
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  color: #000;
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

.speech {
  background-color:#fff;
  color: #000;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.panel:nth-child(1) {
  flex-basis: 800px;
  background-image: url("./images/tray.png");
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  
}
.panel:nth-child(2) {
  flex-basis: 800px;

}
.panel:nth-child(3) {
  flex-basis: 800px;
  background-image: url("./images/1_salad.png");
  background-position: center;
}
.panel:nth-child(4) {
  flex-basis: 500px;
  background-image: url("./images/2_bites.png");
  background-position: center;
}
.panel:nth-child(5) {
  flex-basis: 800px;
  background-image: url("./images/3_shell.png");
  background-position: center;
}
.panel:nth-child(6) {
  flex-basis: 800px;
  background-image: url("./images/4_pack.png");
  background-position: center;
}
.panel:nth-child(7) {
  flex-basis: 800px;
  background-image: url("./images/5_source.png");
  background-position: center;
}
.panel:nth-child(8) {
  flex-basis: 800px;
  background-image: url("./images/6_hamburg.png");
  background-position: center;
}
.panel:nth-child(9) {
  flex-basis: 800px;
  background-image: url("./images/7_relief.png");
  background-position: center;
}
.panel:nth-child(10) {
  flex-basis: 300px;
  background-image: url("./images/8_carte.png");
  background-position: center;
}

/* background colours */
/*
.panel:nth-child(4n+1) {
  background-image:radial-gradient(circle, yellow, orange);
}

.panel:nth-child(4n+2) {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
}

.panel:nth-child(4n+3) {
  background-image:radial-gradient(circle, palegreen, yellowgreen);
}

.panel:nth-child(4n+4) {
  background-image:radial-gradient(circle, lightcoral, tomato);
}
*/
